body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

header h1 {
    margin: 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

.post {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.post h2 {
    margin-top: 0;
}

.post a {
    color: #333;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

#pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #555;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#load-more-container {
    text-align: center;
    margin-top: 20px;
}

#load-more {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  color: #333;
  appearance: none; /* Elimina estilos por defecto */
  -webkit-appearance: none; /* Para navegadores WebKit */
}

/* Flecha personalizada */
select::-ms-expand { 
  display: none; 
}

select option {
  padding: 4px;
}

/* Hover y foco */
select:hover,
select:focus {
  border-color: #999;
  outline: none;
}


